@charset "utf-8";

#counter-result{
    margin-bottom:1rem;
    font-size:5rem; font-weight:bold;}
 .counter-form-per input{
    margin-left : 5px;
    height : 5px;
    text-align: center;
 }
 .counter-form-btns{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    gap : 1rem;
 }
 .counter-form-btns button{
    border-radius: 65%;
 }

 .counter-form-per{
    font-size: 1.2rem;
    font-weight: 550;
 }
#counter-form{
    display:flex; 
    flex-flow:column nowrap;
    align-items:center;
    gap:1rem;
}
.ipt-per{width:4em;}

.btn-reset{
    margin-top:1.2rem;
    width:50%;
    font-weight: bold;}